{% block title %}Hello UsersController!{% endblock %}
    
{% block body %}
    
    <div>
        <table border="1">
                <tr>
                    <td>
                        {{edit.nom}}
                    </td>
                    <td>
                        {{edit.prenom}}
                    </td>
                </tr>
        </table>
    </div>

{% endblock body %}